<!DOCTYPE html>
<html>
	<head>
	  <meta name="description" content="TODO List - Template">
	  <meta charset="utf-8">
	  <title>Simple List</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="/todolist.css">
	</head>
	<body>
	  <div class='container'>
	  	<br>
	  	<div class="col-12">
		    <h1>TODO List</h1>
		    <a href="/logout" class="float-right">登出</a>
	  	</div>
	        <form action="/addTask" method="post">
	          <div class="form-group">
			    <input type="text" class="form-control" placeholder="Enter the new task" name="task">
			  </div>
			  <button type="submit" class="btn btn-primary">Add</button>
			</form>
	    <hr>
	    <div class="container">
			    <% tasks.forEach(function(task) { %>
			        <input class="form-check-input"  id="checkedTask" type="checkbox"><%= task.title %><span> | </span><button class="btn btn-sm btn-outline-info"><a href="/tasks/edit/?id=<%= task.id%>">edit</a></button>
			        <button class="btn btn-sm btn-outline-danger"><a href="/tasks/delete/?id=<%= task.id%>">delete</a></button>
			        <br><hr>
			    <% }); %>
		</div>
	  </div>
	</body>
</html>
