:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #004e66;
  margin: 0;
  padding: 0;
  background: url(https://images.unsplash.com/photo-1451934403379-ffeff84932da?ixlib=rb-0.3.5&s=978e6793aad4edd140ad215761092540&auto=format&fit=crop&w=942&q=80);

}

/* form container */
.container {
  max-width: 400px;
  margin: 3em auto;
  background-color: #fff;
  padding: 1.5em;
  border-radius: .5em;
  background: hsla(240, 0%, 70%, 0.7);
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto;
  }
}

.container h3 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

/* form */
.form-field {
  text-align: center;
  margin-bottom: 2em;
}

label {
  display: block;
  margin-bottom: .8em;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
  color: #212121;
}

input {
  width: 100%;
}

/* submit button */
#form-submit {
  text-align: center;
  margin-bottom: 1em;
}

#form-submit input,
#form-submit input:active {

  outline: none;
  padding: 0.5em;
}

#form-submit input:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
}

/* additional link */
div #forgot-link {
  font-size: 0.75rem;
  text-align: right;
}

div #register-link {
  font-size: 0.75rem;
  text-align: center;
  padding-top: 2em;
  margin-top: 2.5em;
  border-top: 1px solid #eee;
}

div a {
  color: #000;
}